@import url(bootstrap.min.css);

body {
  background: #EEE;
}

.site-header {
  z-index: 9999;
  transition: background 0.4s, all 0.3s linear;
  box-shadow: 0px 10px 17px 3px rgba(221, 221, 221, 0.2);
  background: #fff;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100% !important;
}

.site-header-logo:before {
  content: "";
  width: 10px;
  height: 10px;
  background: #007bff;
  display: inline-block;
  border-radius: 50%;
  margin-right: 7px;
  position: relative;
  top: -2px;
}

.site-main {
  margin-top: 80px;
}

.site-main>.container {
  background: #FFF;
  padding: 20px;
}


.filter-bar,
.filter-sidebar-header {
  background: #f1f8ff;
  padding: 10px;
  margin-bottom: 20px;
  line-height: 38px;
}

.filter-bar .input-group {
  background: #FFF;
}

.filter-sidebar-content {
  padding: 0px 20px;
}

.cart-number {
  width: 80px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.card-product__img {
  height: 150px;
  overflow: hidden;
}

.card-product__description {
  text-align: justify;
}

.vite-plugin-vue-inspector-overlay {
  display: none !important;
}
